<div class="row">
  <%= render 'votes/vote_cast', object: comment, 
                                up_vote_path: vote_comment_path(comment, value: true),
                                down_vote_path: vote_comment_path(comment, value: false) %>
  <div class="col-md-6">
    <div class="well">
      <p><%= comment.body %></p>
      
      <p>
        <span class="quiet">posted by </span>
          <% if comment.creator.present? %>
            <%= link_to comment.creator.username, user_path(comment.creator) %>
          <% else %>
            <%= "Anonymous" %>
          <% end %>
        <small> at <%= I18n.l comment.created_at, format: :long %></small>
      </p>
    </div>
  </div>
</div>
