<div class="row">
  <div class="col-md-4">
    <%= render 'shared/error_messages', object: post %>
    <div class="well">
      <%= form_for post, html: {role: 'form'}  do |f| %>
        
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :url, 'URL' %>
          <%= f.text_field :url, class: 'form-control', placeholder: ''  %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: 'form-control', rows: 4  %>
        </div>

        <% categories = Category.order(:name).in_groups_of(2).transpose %>
        <% first_column_of_categories = categories.first.compact %>
        <% second_column_of_categories = categories.second.compact %>
        <div class="row form-group">
          <div class="col-md-6">
            <%= f.collection_check_boxes(:category_ids, first_column_of_categories, :id, :name) do |cb| %>
              <div class="checkbox">
                <%= cb.label { cb.check_box(class: 'checkbox') + cb.text } %>
              </div>
            <% end %>
          </div>

          <div class="col-md-6">
            <%= f.collection_check_boxes(:category_ids, second_column_of_categories, :id, :name) do |cb| %>
              <div class="checkbox">
                <%= cb.label { cb.check_box(class: 'checkbox') + cb.text } %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>