<div class="row">
  <%= render 'votes/vote_cast', object: post, 
                                up_vote_path: vote_post_path(post, value: true),
                                down_vote_path: vote_post_path(post, value: false) %>
  <div class="col-md-6">
    <div class="well">
      <!-- Post categories -->
      <%= render post.categories %>
      
      <!-- Post title -->
      <h4><%= link_to post.title, post.url, target: '_blank' %></h4>
      
      <!-- Post description -->
      <p><%= post.description %></p>
      
      <!-- Post who and when -->
      <p>
      <span class="quiet">posted by </span>

        <% if post.creator.present? %>
          <%= link_to post.creator.username, user_path(post.creator) %>
        <% else %>
          <%= "Anonymous" %>
        <% end %>

      <small> at <%= I18n.l post.created_at, format: :long %></small>
      </p>
      
      <!-- Post comments -->
      <span>
      <%= link_to("#{post.comments.size} comments", post_path(post)) %>
      </span>
    </div>
  </div>
</div>