
<p class="pull-right">
  <%= link_to 'Edit', edit_post_path(@post) %>
</p>

<!-- Post categories -->
<p>
  <%= render @post.categories %>
</p>

<!-- Post title -->
<%= render 'shared/content_title', title: @post.title %>

<div class="row">
  <div class="col-md-4">
    <div class="well">
      
      <!-- Post description -->
      <p>
        <%= @post.description %> 
      </p>
      
      <small>
        <%= link_to @post.url.downcase, @post.url %>
      </small>
      
    </div>
  </div>
</div>
